[submodule "versions/webpack4-ad"]
	path = versions/webpack4-ad
	url = git@bitbucket.org:derekmiranda/webpack-4-dev.git
	branch = develop/webpack4
[submodule "versions/webpack4-babel7-ad"]
	path = versions/webpack4-babel7-ad
	url = git@bitbucket.org:derekmiranda/webpack-4-dev.git
	branch = develop/babel7-merge
